body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    width: 307px;
    margin: 10px 12px 10px 0;
    padding: 5px;
}
  
.footer {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    width: 307px;
    margin: 10px 12px 10px 0;
    padding: 5px;
}
  
.wrapper {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-auto-rows: 75px;
    grid-gap: 10px;
    height: 235px;
    perspective: 700px;
}
  
.card-front{
    border: solid black 2px;
    background-color: white;
    width: 60px;
    height: 60px;
    transition: 0.5s ease-out;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    background-color: cyan;
    width: 60px;
    height: 60px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.reveal-front {
  transform: rotateY(-180deg);
}

.icon {
    position: absolute;
    display: inline-block;
    font-size: 2.5em;
    margin: 10px 0 0 6px;
    backface-visibility: hidden;
    transform: rotateY(180deg)
     
}

.hide {
    display: none;
}

.game-complete-modal {
    position: absolute;
    height: 220px;
    width: 260px;
    margin: 0 23.5px 0 23.5px;
    border: solid black 3px;
    background-color: grey;
    border-radius: 5px;
    z-index: 100;
}
.game-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-times {
    float: right;
    font-size: 1.2em;
    padding: 0.25em 0.25em 0 0;
}


/* --------------------------------------------------
Media Queries
----------------------------------------------------*/


@media (max-height: 361px) and (max-width: 640px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .wrapper {
        grid-template-columns: 150px 150px 150px 150px;
        grid-auto-rows: 150px;
        grid-gap: 20px;
    }
    .card {
        width: 120px;
        height: 120px;
    }
    .menu-bar {
        width: 624px;
    }
    .footer {
        width: 624px
    }

}

@media (min-width: 1200px) {

}